*{
	padding:0px;
	margin:0px;
}

.brand:hover{

	text-decoration:none;
	color:#7EC0EE;
}

.register{
	margin-right: 20px;
}

.users_list{
	margin-top:5px;
}

.h2_dashboard{
	margin-top: 50px;
}

.panel_pokes_list{
	width:450px;
}

.append_panel_head{
	text-align:center;
}

.button{
	background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}

ul.dropdown-menu{
	width: 250px;
}

ul.dropdown-menu li{
	padding: 5px 10px 5px 10px;
}

.dropdown{
	margin-top: 11px;
}

.spacer{
	margin-top: 73px;
}

.messages{
	position:fixed;
	left:90px;
	top:200px;
}

.message_generic{
	margin-left: 50px;
	margin-top: 50px;
	width:1000px;
}
